<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="static/images/silhueta-arnold.svg"
      type="image"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cadastro.css')}}"
    />
    <title>Cadastro Professor</title>
  </head>
  <body>
    <header>
      <h1>Ficha de Cadastro de <span>Professores</span></h1>
    </header>
    <section>
      <div>
        <form action="/cadastroprof" method="POST">
          <p>
            Nome Completo:
            <input type="text" name="nome" id="profnome" />
          </p>
          <p>
            Data de Nascimento:
            <input type="date" name="profano" id="ano" min="0" />
          </p>
          <p>
            Sexo:
            <input
              type="radio"
              name="profsex"
              id="mas"
              value="Masculino"
              checked
            />
            <label for="mas">Masculino</label>
            <input type="radio" name="profsex" id="fem" value="Feminino" />
            <label for="fem">Feminino</label>
          </p>
          <p>
            E-mail:
            <input type="text" name="profemail" id="txtemail" />
          </p>
          <p>
            Treino Especializado:
            <select name="tipotreino" id="tipotreino">
              <option value="musculacao">Musculação</option>
              <option value="natacao">Natação</option>
              <option value="ioga">Ioga</option>
              <option value="crossfit">Crossfit</option>
            </select>
          </p>
          <p>
            <input type="submit" value="Cadastrar" />
            <button>
              <a target="_blank" href="/selecionar_prof">Selecionar</a>
            </button>
          </p>
        </form>
      </div>
      <div class="container">
        <div class="alerta">{{ message }}</div>
      </div>
    </section>
    <a id="inicio" href="/">Voltar à página inicial</a>
    <footer>
      <h3>&copy; ARNOLD</h3>
    </footer>
  </body>
</html>
