<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Young+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="static/images/silhueta-arnold.svg"
      type="image"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css')}}"
    />
    <title>Academia Arnold</title>
  </head>
  <body>
    <nav>
      <a href="/cadaluno">Cadastro <span>Aluno</span></a>
      <a href="/cadprof">Cadastro <span>Professor</span></a>
    </nav>
    <h1>Academia <span>Arnold</span></h1>
    <main>
      <section>
        <p>
          Bem-vindo à Academia Arnold! Somos mais do que apenas um espaço para
          exercícios físicos; somos uma comunidade dedicada à saúde, ao
          bem-estar e à transformação de vidas. Se você está em busca de uma
          jornada emocionante em direção a uma versão mais forte, saudável e
          confiante de si mesmo, você está no lugar certo. <br />
          <br />
          Comece sua jornada hoje. Sua melhor versão está a apenas um passo de
          distância na Academia Arnold.
        </p>
      </section>
      <img src="static/images/acad.jpg" alt="Equipamentos de uma Academia" />
    </main>
    <footer>
      <a href="mailto:academia.arnold@gmail.com"
        >Fale conosco por <span>e-mail</span></a
      >
    </footer>
  </body>
</html>
